h1 {
  color: darkred;
  font-family: 'Style Script', cursive;
  padding: 20px;
  text-shadow: 2px 2px grey;
  text-align: center;
  animation: whatever-we-want 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

body {
  /* background-color: antiquewhite; */
  background-image: url(https://live.staticflickr.com/3748/12302239423_780d6f5ca0_b.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

p {
  border: 1px dotted rosybrown;
}

/* class selector - many elements */
.banana {
  color: cadetblue;
}
#goblet{
  display: flex;
  justify-content: center;

}
/* id selector - only one element */
#warning {
  color: red;
}
table {
  display: flex;
  justify-content: center;
  padding: 20px;
}
td{
  font-size: 100px;
  padding: 20px;
  border: 2px solid black;
  background-color: grey;
  opacity: 0.7;
}
/* psuedo-selector - targets the state of an element */
td:hover {
  color: white;
  background-color: darkblue;
}

@keyframes whatever-we-want {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
